.pList {
    background-color:#475d9f;
    color: #fff;
    display:block;
    align-items:center;
    font-size:15px;
    border:1px solid #eee;
    padding: 10px;
    margin-left: 500px;
    margin-right: 50px;
    text-decoration:none;
    margin-bottom: 50px;
}

.pList a {
    text-decoration:none;
    color:#fff
}